# Accediendo al sistema operativo

In [12]:
import os
import pandas as pd

# Mostrar cual es el directorio actual

In [3]:
print(os.getcwd())

C:\Users\Edu\Desktop\EAE Business School\Digital Transformation\Tema 4

# Listado de los ficheros del directorio de trabajo

os.listdir()

In [6]:
print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', 'EAE_Pandas.ipynb', 'Pandas_DataFrame.ipynb', 'Pandas_Numpy.ipynb', 'Pandas_Series.ipynb', 'Sistema_Operativo.ipynb']

In [7]:
# Cambio de diretorio de trabajo

# os.chdir()

# Leyendo datos externos y escribiendo datos en formato texto

In [9]:
# read_csv
# read_excel
# read_json
# etc

In [10]:
# https://www.stats.govt.nz/large-datasets/csv-files-for-download/

In [14]:
# Leer un dataframe de una url

# df = pd.read_csv('/ruta/ex1.csv')
# df = pd.read_csv('c:\\ruta\\text.csv')
url = 'https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2019-financial-year-provisional/Download-data/annual-enterprise-survey-2019-financial-year-provisional-csv.csv'
df1 = pd.read_csv(url)
df1.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
len(df1.index)

32445

In [16]:
# Shape: filas y columnas

df1.shape

(32445, 10)

In [17]:
!wget https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2019-financial-year-provisional/Download-data/annual-enterprise-survey-2019-financial-year-provisional-csv.csv -P "/content/drive/My Drive/app"

"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [18]:
!ls "/content/drive/My Drive"

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [19]:
# https://colab.research.google.com/notebooks/io.ipynb#scrollTo=vz-jH8T_Uk2c

In [22]:
# Leer un csv directo de una pagina web

data = pd.read_csv('https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2019-financial-year-provisional/Download-data/annual-enterprise-survey-2019-financial-year-provisional-csv.csv')
data.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

# Grabar datos al disco

In [23]:
# En el caso de usar un disco virtual como Drive, se ha de montar el disco.
# https://colab.research.google.com/drive/1cMmtzM7rYc-cpW0fkRiTRb-ySr2UHf1h#scrollTo=086fpOA1lWlx

In [25]:
!ls "/drive/My Drive"

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [26]:
import glob

In [27]:
from google.colab import drive

ModuleNotFoundError: No module named 'google'

In [28]:
drive.mount('/content/drive')

NameError: name 'drive' is not defined

In [29]:
!ls "/content/drive/My Drive/Colab Notebooks"

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [30]:
!ls "/content/drive/My Drive"

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [31]:
# Visualizar los datos del directorio en formato Windows
%cd

C:\Users\Edu